@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container * {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  height: fit-content;
  width: 80%;
  margin: auto;
  background-color: #fff;
  clear: both;
  display: block;
}
.header {
  width: 100%;
  height: 120px;
}
.main_title {
  width: 100%;
  height: fit-content;
  margin: 10px;
}
.main_details {
  color: gray;
  width: 80%;
  margin: 10px;
  padding-left: 5px;
}
.section {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 20px;
  border-bottom: 2px solid gray;
}
.container .section a {
  text-decoration: none;
  color: gray;
}
.add_product {
  color: #344F96;
  cursor: pointer;
  margin-left: 20px;
}
.pro_details, .pro_imag {
  width: 50%;
  height: fit-content;
  float: left;
  padding: 15px;
}
.pro_name {
  width: 100%;
  height: fit-content;
  margin-bottom: 15px;
}
.pro_name_input {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  padding: 5px;
}
.name_condition {
  color: gray;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}
.category, .brand, .desc, .pro_img, .size_box h5, .date_box h5{
  width: fit-content;
  font-size: 16px;
  margin:10px 0px;
}
.cat_options {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  padding: 5px;
  margin: 10px 0px;
  outline: none;
}
.require_sign {
  background-color: rgb(107, 104, 104);
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 2px;
}
.brand_options {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  padding: 5px;
  margin: 10px 0px;
  outline: none;
}
.description_condition, .img_condition {
  color: gray;
  width: 100%;
  outline: none;
  margin: 10px 0px;
}
.price, .price_sale, .sp {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.desc_textarea {
  padding: 5px;
  border-radius: 10px;
  background-color: #ddd;
  outline: none;
  border: none;
}
.price_input, .price_sale_input, .sp_input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  padding: 5px;
}
.add_new {
  width: 100%;
  height: fit-content;
}
.container .add_new a {
  text-decoration: none;
  color: #344F96;
  margin: 10px 10px;
  float: right;
}
.pro_details a:hover {
  text-decoration: underline;
}
.img_box {
  width: 100%;
  height: fit-content;
  margin: 10px 0px;
}
.size_box, .date_box {
  width: 50%;
  float: left;
  height: 100px;
  padding: 10px;
}
.container .size_box h5 {
  width: 100%;
  font-size: 16px;
}
.size_select, .date_input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  padding: 5px;
  margin: 10px 0px;
  outline: none
}
.size_button {
  width: 70%;
  height: 100px;
  float: left;
}
/* .size_b {
  width: 25%;
  float: left;
  margin: 10px;
  height: 30px;
  text-align: center;
  border: 1px solid red;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #222;
} */
.add_button {
  cursor: pointer;
  width: 180px;
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #222;
}
.add_button {
  background-color: #98A3FF;
  color: #000;
  margin-top: 100px;
}
.add_button:hover {
  background-color: #2E4566;
  color: #fff;
}
.drag-area *{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
.drag_area{
border: 1px dashed gray;
height: 270px;
margin: 5px;
width: 210px;
background: #eee;
border-radius: 5px;
text-align: center;
padding: 10px;
float: left;
}
.drag-area .icon{
font-size: 45px;
color: #000;
}
.drag-area div{
font-size: 16px;
font-weight: 500;
margin: 60px 10px;
color: #000;
}
.drag-area span{
font-size: 16px;
font-weight: 500;
color: #000;
display: block;
}
input[name="add_image"]{
width: 250px;
height: 40px;
background-color: #c33;
padding: 5px 10px;
font-size: 14px;
font-weight: 500;
border: none;
outline: none;
color: #fff;
border-radius: 5px;
cursor: pointer;
margin: 15px 0px;
box-shadow: 0px 3px 10px #222;
transition: .6s;
margin-left: 150px;
position: absolute;
bottom: 60px;
}
input[name="add_image"]:hover{
background-color: #2E4566;
}
.drag-area img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 5px;
}
