.conall{
	width:80%;
  margin: auto;
  margin-top: 3%;
}
.blog-form{
	background-color: #FFFFFF;
	padding: 20px;
	height:fit-content;
	width:21.9%;
	float:left;
	border-radius:5px;
}
.con{
	width: 850px;
	height: fit-content;
	background-color:#FFFFFF;
	float:left;
	margin-left:1%;
	border-radius:5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
	padding: 20px;
  padding-bottom: 0px;
}
.select{
	float:right;
}
.form-control{
	padding:2px;
  font-size: 1rem;
  color: #495057;
  border-radius: 15px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	border:none;
	background-color:#FFFFFF;
	outline:none;
}
.btn-department{
	background-color:#F0F0F0;
	border:none;
	width:62px;
	height:27px;
	border-radius:10px;
}
.form-control:hover{
	background-color:#EDEDED;
}
.upto{
	text-decoration:none;
	font-size:16px;
}
.upto:hover{
	color:#C45A17;
}
.fa{
	color:orange;
	text-decoration:none;
}
#raiting{
	color:black;
}
.star{
	text-decoration:None;
}
.min-max{
	padding:3px;
  width:50px;
	font-size:13px;
	border:none;
	border-radius:5px;
	outline:none;
  background-color: #eee;
}
.btn{
	width:40px;
	height:25px;
	border:none;
	border-radius:8px;
	cursor:pointer;
	background-color:#ddd;
	color: #0C1829
	transition: .6s;
}
.btn:hover{
	transition: .6s;
	background-color:#374C6D;
  color: #fff;
}
.container{
  width: 850px;
  background-color:#FFFFFF;
  height: fit-content;
  float:left;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 15px;
  margin: 20px 1%;
}
.products{
  width: 180px;
  height: 45vh;
  padding: 0px 0px 10px 10px;
  border-radius: 5px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.products:hover{
  box-shadow: 5px -5px 10px 3px #222;
}
.products img{
  width: 100%;
  height: 70%;
  border-radius: 5px;
}
.products h3{
  font-weight: bold;
  margin: 4px 0px;
}
.container_header{
  background-color: #3f51b5;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  display: block;
  margin-bottom: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 7px 15px #3f51b5;
}
.container_header h2{
  display: inline;
  color: #fff;
  font-size: 20px;
}
.container_header a{
  float: right;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}
.container_header a:hover{
  position: relative;
  left: 3px;
}
